@import url(./variable.css);
/* header */
.header {
  padding: 10px 0;
  position: sticky;
  top: 0;
  background-color: var(--dark);
  z-index: 9;
}

.header .navbar-nav {
  background-color: var(--dark-alt);
  color: var(--light);
  padding: 0 15px;
  border-radius: 40px;
  text-align: center;
  justify-content: center;
}
.logo {
  display: inline-block;
  text-decoration: none;
  margin-left: 15px;
}
.logo span {
  font-size: 25px;

  font-weight: bold;
  color: var(--light);
}
.logo i {
  width: 5px;
  height: 5px;
  background-color: var(--primary);
  border-radius: 50%;
  display: inline-block;
}

.navbar-nav .nav-item .nav-link {
  position: relative;
  display: inline-block;
  color: var(--light);
  transition: 0.3s all ease-in-out;
  padding: 15px 15px;
  font-size: 16px;
  font-weight: 600;
}
.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link.active {
  color: var(--primary);
}

.navbar-nav .nav-item .nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 2px;
  background: radial-gradient(var(--primary), var(--dark-alt));
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.navbar-nav .nav-item .nav-link:hover::after,
.navbar-nav .nav-item .nav-link.active::after {
  opacity: 1 !important;
}
.btn i {
  font-size: 20px;
  font-weight: 600;
  color: var(--light);
}
.btn:hover {
  background-color: var(--primary);
  color: var(--light);
}
/* section */

.hero {
  padding: 120px 0px;
}
.hero h1 {
  font-size: 60px;
  font-weight: 800;
  text-transform: capitalize;
}

.hero p {
  font-size: 1.2rem;
  width: 100%;
  max-width: 600px;
}
.button {
  position: relative;
  display: inline-block;
}
.button span {
  display: inline-block;
  padding: 12px 15px;
  background: var(--dark);
  border-radius: 5px;
  border: 2px solid var(--primary);
  font-size: 16px;
  font-weight: 600;
  color: var(--primary);
  transition: 0.5s ease all;
  position: relative;
  z-index: 2;
}

.button::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  background: var(--primary);

  transition: all 0.5s ease;
}
.button:hover::after {
  top: 0;
  left: 0;
}
/* about */

.about {
  padding: 80px 0;
}
.about h2 {
  font-size: 2.8rem;
  font-weight: 700;
  text-transform: capitalize;
}
/* skills */

.skills {
  padding: 80px 0;
}
.skills h2 {
  font-size: 2.5rem;
  font-weight: 700;
}
.skills .swiper {
  width: 100%;
  padding-top: 80px;
}

.skills .swiper-slide {
  width: 300px;
}
.skills .image {
  overflow: hidden;
  width: 100%;
  border: 2px solid var(--dark-alt);
  display: block;
  position: relative;
  padding: 10px;
}
.skills .image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
  z-index: 1;
}
.skills .image h5 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: var(--dark);
  color: var(--light);
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  transition: 0.3s all ease;
  z-index: 2;
}
/* work */
.work {
  padding: 80px 0;
}
.work h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 50px;
}

.work ul li {
  border-bottom: 2px solid var(--dark-alt);
  padding: 20px 0;
}

.work h1 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  color: var(--light);
}

.work p {
  font-size: 1.3rem;
  color: var(--light-alt);
}
.work img {
  width: 70%;
  height: 150px;
  object-fit: cover;
  object-position: center;
  margin: auto;
  border-radius: 10px;
}
.work a {
  color: var(--primary);
  font-size: 20px;
}
.work a i {
  margin-left: 10px;
}
/* technology */
.technology {
  padding: 120px 0;
}
.technology h2 {
  font-size: 2.5rem;
  font-weight: 700;
  padding: 50px;
}
.technology .tech-box {
  height: 100%;
  border: 2px solid var(--dark-alt);
}
/* footer */
.footer-section .footer {
  margin-top: 20px;
}
.footer-section .footer .icon {
  display: flex;
  gap: 20px;
}
.footer-section .footer .icon a {
  font-size: 30px;
  font-weight: bold;

  color: var(--light-alt);
}
.footer-section .footer .text1 {
  display: flex;
  justify-content: end;
}
.footer-section .footer .text1 p {
  font-size: 20px;
  color: var(--light-alt);
}

.footer-section .footer .name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.footer-section .footer .name h1 {
  font-size: 70px;
  font-weight: bold;
  color: var(--light-alt);
  text-transform: capitalize;
  word-spacing: 10px;
  line-height: 4;
}

/* about page */

.about {
  padding: 120px 0;
}
.about h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  color: var(--light);
}

.about p {
  font-size: 1.2rem;
  color: var(--light-alt);
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 15px 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 420px;
  padding-bottom: 15px;
  background: var(--dark-alt);
  border-radius: 10px;
}

.card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;

  padding: 5px;
  margin-top: -45px;
}

.card h2 {
  margin: 10px 0;
  color: var(--light);
  font-size: 30px;
}
.card p {
  margin-top: 10px;
  color: var(--light-alt);
  font-size: 15px;
  height: auto;
  overflow-y: auto;
}

.cont {
  width: 90%;
  height: 0;
  overflow: hidden;

  transition: all 0.6s ease;
}

.card:hover > .cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 150px;
}
.experience hr {
  width: 80%;
  margin: 20px 0 40px;

  border: 2px solid var(--primary);
}
.experience {
  padding: 80px;
}
.experience p {
  width: 100%;
  max-width: 450px;
}
.experience ul li {
  border-bottom: 1px solid var(--dark-alt);
  padding-bottom: 40px;
  margin-bottom: 40px;
}
.experience ul li:last-child {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
/* projects */

.table {
  background: var(--dark);

  border-radius: 10px;
  overflow: hidden;
}

/*  table header */
.table thead th {
  background: var(--dark);
  color: var(--light);
  text-align: left;
  padding-bottom: 30px;
  font-size: 1.3rem;
  vertical-align: middle;
}

/*  table cells */
.table tbody td {
  padding: 10px 0;
  text-align: left;
  font-size: 1rem;
  background: var(--dark);
  color: var(--light);
  vertical-align: middle;
}
.table tbody td a {
  color: var(--primary);
  text-decoration: none;
  font-size: 1.1rem;
  text-align: left;
}
.table tbody td span {
  padding: 9px 12px;
  font-size: 14px;
  font-style: normal;
  background: var(--dark-alt);
  border-radius: 3px;
  display: inline-block;
  margin: 0 5px 5px 0;
}

.table tbody th {
  background: var(--dark);
  color: var(--light);
  text-align: left;
  font-size: 1.2rem;
  vertical-align: middle;
}
/* contact */
.contact {
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light);
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact form input {
  border: 1px solid #495057;
}
.contact .info {
  width: 100%;

  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 15px;
}
.contact .info .info-item {
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(45deg, var(--dark-alt), var(--dark));
}
.contact .info .info-item p {
  margin: 0;
  color: var(--light);
  font-size: 18px;
}
.contact .info a {
  text-decoration: none;
  color: var(--light);
}
/* about ideas project css */
.ideas {
  padding: 100px 0;
}

.ideas .idea-card {
  height: auto;
  width: 80%;
  padding-bottom: 75px;
}
/* idea card */
.ideas .idea-card .idea-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  border-bottom: 1px solid var(--light);
  padding: 20px 0;
}
.idea-card-text p {
  color: var(--light-alt);
  line-height: 1.5;
  font-size: 18px;
  margin-top: 20px;
}

.ideas .idea-card hr {
  display: none;
}
